@{
    ViewData["Title"] = "Home Page";
}
<style>
    .red {
        color: red
    }
</style>

<div class="text-center">
    <h2>Host: <span class="red">@Environment.MachineName</span></h2>
    <h2>OS Version: <span class="red">@Environment.OSVersion</span></h2>
    <h2>Process ID: <span class="red">@Environment.ProcessId</span></h2>
    <h2>ASPNETCORE_ENVIRONMENT: <span class="red">@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</span></h2>
    <h2>Valor em memória: <span class="red">@ViewBag.ValorEmMemoria</span></h2>
    <br />
    <p>
        <a class="btn btn-success" asp-action="PreencherValorEmMemoria">Preencher valor em memória</a>
    </p>
</div>
